html, body {
  height: 100%;
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  background-color: #2e2e2e;
  color: #e0e0e0;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  min-height: 100vh;
}

.dashboard h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #e0e0e0;
}

.dashboard-charts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1800px;
}
.chart-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.chart-container p{
  display: flex;
  margin-top: auto;
  align-self: flex-end;
}
.chart {
  background-color: #3a3a3a;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.row{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.chart-legend{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 700px;
  width: 70%;
  margin-left: 170px;
  margin-top: 45px;
}
.selected{
  background-color: rgb(245, 182, 56);
}
.chart-container p{
  display: flex;
  align-self: flex-start;
  text-align: left;
  width: 60%;
}
.legend-item {
  display: flex;
  align-items: center;
  width: 30%;
  margin-bottom: 10px;
}

.legend-color {
  min-width: 20px;
  min-height: 20px;
  border-radius: 10%;
  margin-right: 10px;
}

.legend-label {
  font-size: 16px;
}

.chart h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #e0e0e0;
}

.pie-chart, .line-chart, .bar-chart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.recharts-layer.recharts-pie,
.recharts-sector:focus {
    outline: none !important;
    outline-color: none;
    outline-style: none;
    outline-width: none;
}
.chart-selector button{
  padding: 15px 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family:'JetBrains Mono', monospace; ;
  font-size: 16px;
  cursor: pointer;
  background-color: #e0e0e0;
  color: #333;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
.chart-selector button:hover{
  background-color: rgb(245, 182, 56);
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.export-button{
  padding: 15px 40px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-family:'JetBrains Mono', monospace; ;
  font-size: 16px;
  cursor: pointer;
  background-color: #e0e0e0;
  color: #333;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
.export-buttons{
  display: flex;
  margin-top: 20px;
}
.export-button:hover{
  background-color: rgb(245, 182, 56);
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.finish-button-center {
  margin-top: 40px;
  padding: 12px 25px;
  background-color: rgb(15, 190, 175);
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.finish-button-center:hover {
  background-color: rgb(245, 182, 56);
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.rechars-wrapper{
  display: flex;
  margin-top: auto;
  align-items: flex-end;
  align-self: flex-end;
}
.rechars-cartesian-axis{
  display: none;
}
