.download-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 10px;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid rgb(134,134,134);
  height: 500px;
  width: 520px;
}
.download-modal-header{
  display: flex;
  width: 80%;
  font-size: 16px;
  margin-top: 10px;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 15px 0px;
  color: rgb(228, 228, 228);
  font-weight: 700;
}
.close{
  display: flex;
  align-self: flex-end;
  border: none;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}
.download-modal-sub{
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 20px 0px;
  color: rgb(134,134,134);
}
.upload-area {
  display: flex;
  flex-direction: column;
  background-color: rgb(187, 187, 187);
  border: 5px;
  width: 72%;
  height: 30%;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
  cursor: pointer;
}
.file-icon {
  align-self: center;
  color: aliceblue;
}
.desc{
  display: flex;
  align-self: center;
  text-align: center;
  flex-direction: column;
  width: 55%;
  font-size: 16px;
  color:rgb(0, 0, 0);
}
.bold{
  font-weight: 600;
  font-size: 17px;
}

.file-name {
  display: flex;
  align-self: center;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 80%;
  font-size: 16px;
  font-family: sans-serif;
  background-color: rgb(187, 187, 187);
  border-radius: 5px;
  color:rgb(0, 0, 0);
  margin-bottom: 20px;
}

.wrap{
  display: flex;
  flex-direction: row;
}
.column{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}
.cancel{
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.error-message{
  color:rgb(255, 255, 255);
}

.update-button {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 20px;
  align-items: center;
  height: 40px;
  width: 80%;
  padding: 25px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: rgba(255, 255, 255, 1);
  background-color: rgb(15, 190, 175);
  font-size: 16px;
  cursor: pointer;
}




