@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
}

.download-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #2e2e2e;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
  background-color: #3a3a3a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #e0e0e0;
  width: 650px;
}

.download-modal-header {
  width: 100%;
  font-size: 18px;
  color: #e4e4e4;
  font-weight: bold;
  margin-bottom: 10px;
}

.close {
  align-self: flex-end;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #e0e0e0;
}

.download-modal-sub {
  width: 100%;
  color: #868686;
  margin-bottom: 20px;
}

.upload-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  border-radius: 10px;
  width: 100%; 
  margin-bottom: 20px;
  height: 150px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.upload-area:hover {
  background-color: rgb(245, 182, 56);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.file-icon {
  color: #3a3a3a;
  font-size: 24px;
}

.desc {
  text-align: center;
  color: #333;
  font-size: 16px;
}
.slider-content{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.slider-content input{
  margin-left: 10px;
}
.bold {
  font-weight: 600;
  font-size: 17px;
}

.file-name {
  position: relative; /* Относительное позиционирование для установки крестика */
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(230, 230, 230);
  color: #333;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-sizing: border-box;
}


.file-name span {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  max-width: calc(100% - 40px); 
  padding: 0 10px; 
  box-sizing: border-box;
}

.wrap {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.column {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.cancel {
  position: absolute; 
  top: 5px;
  right: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.error-message {
  color: #ff4d4d;
}

.update-button {
  width: 100%; 
  padding: 12px;
  background-color: rgb(15, 190, 175);
  color: #fff;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  font-family: 'JetBrains Mono', monospace;
}

.update-button:hover {
  background-color: rgb(245, 182, 56);
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
